.profile {
  height: 100vh;
}

.profile-row {
  height: 50%;
}

.col-sm-6 {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  max-height: 100%;
  max-width: 50%;
}

.profile-img {
  max-width: 75%;
  max-height: 100%;
}
